.functions{
		position: fixed;
		width:150px;
		left:60px;
		top:112px;
		padding:0px;
		padding-top: 0px;
	}

#leftMenu{
	position:fixed; 
	top:10%;
	left:-7px;
	font-family: verdana;
	width:4pt;
	min-height:2em;
}
#leftMenu button{
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  	position: relative;

}
#contactUs {
    font-size:1.9em;
    left:-2px;
}
#aboutUs {
	top:12px;
    font-size:2em;
    left:-2px;

}
#loginButton {
	top:-11px;
    font-size:2em;
}

#contactUs i,#loginButton i,#aboutUs i{
	position:relative;
	top:-0.1em;
	left:0em
}



.cursor{cursor:pointer;}
#attachments{position:relative; left:21em;	}
#attachments ul{
	list-style-type: none;

}
#dropContainer {
	width: 21em;
	float:left;
	margin-top: 1em;
	position:absolute;
}

/*
	Drag and drop support 
*/
#dropZone{
	background-color: #7cbbe2;
	height:3em;
	width:100%;
	border-radius: 7px 7px 7px 7px;
	box-shadow: none;
	text-align: center;
	padding-top: 1.8em;
	float:left;
}
#dropZone span{
	font: bold 161% sans-serif;
}

.uploadButtons{
	float:left; position:relative;top:22.5em; left:-15em; height:10px;
}

.filters input{
max-width:90%;
}

#search-post-form label{
	margin-left: 5.2em;
	z-index: 50;
}