/*Login form in navbar labels*/
.navbar label{ position:absolute;top:0.8em; color:#777; opacity: 0.6 }
.navbar .usernameLabel{	left:1em; }
.navbar .passwordLabel{ left:14em; }

/*
	This is the list item in the first dropdown around level 2
	multilevel dropdown css for placec outside navbars/buttons or breadcrumbs
*/
ul.subWrapper{
	list-style: none;
}
.subdropSet{
	position:relative;
	top:0px; 
	width:100%;
}
.subdropSet:hover ul{
	display:block;
	position:absolute;
	left:100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
/*
	Level two - The unordered list inside the sub drop set 
*/
.subdropSet ul{
	display:none;
	list-style: none;
	margin:0px;
	top:-6px;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
	border-right:0px solid white;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
 	border-radius: 6px;

}
/*
	Level two - each container menu-alternativ
*/
.subdrop li{
	position:relative;
	left:0px;
	top:0px;
	padding:0px;
	margin:0px;
	border:0px solid #000;
	width:90%;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
/*
	Same as above but hover
*/
.subdrop li:HOVER{
	display: inline-block;
	border-top: 0px solid transparent;
	border-bottom: 0px solid transparent;
	border-right:0px solid white;
}
/*
	The link itself inside the parent  .subdrop li container 
*/
.subdrop a {
	top:-5px;
	width:83%;
	left:0px;
}


.blue{
	color:#006Dff; /* bootstrap primary color */
}
.green{
	color:#5BB75B; /*bootstrap success color */
}
.red{
	color:#BD362F;/*bootstrap danger color */
}


#login {

} 
.daterange label{display:none;}

.column2{
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari and Chrome */
	column-count:2;
}