/*
	xBreadcrumbs (Extended Breadcrumbs) jQuery Plugin
	© 2009 ajaxBlender.com
	For any questions please visit www.ajaxblender.com 
	or email us at support@ajaxblender.com
*/

/*  Base style of xBreadcrumbs  */
/*  Top Level  */
.xbreadcrumbs{
	width: 100%;
	position: relative;
}

/*	submenu settings */
.xbreadcrumbs LI UL { 
	position: absolute;
	float: left;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;

}
.xbreadcrumbs, .xbreadcrumbs UL, .xbreadcrumbs UL LI {
	list-style: none;
	margin: 0;
	padding: 0;
	border-right: none;
}
.xbreadcrumbs li a i{
	color:#000;
}
/* 	text only breadcrumbs <span> label </span> */
.xbreadcrumbs .span{
}

.dropdown-menu li{
	width: 100%;
}
